<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <img src="/static/logo.jpg" alt=" Logo">
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="social-links">
            <a href="https://github.com/NeoJoker26" target="_blank">
                <img src="/static/gh.webp" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/blazej-badora-6b155a194/" target="_blank">
                <img src="/static/linkedin.png" alt="LinkedIn">
            </a>
        </div>
    </nav>
</header>

<main>
    <section id="about" class="about-section">
        <div class="container">
            <h1>About Me</h1>
            <div class="about-content">
                <div class="about-image">
                    <img src="profile-picture.jpg" alt="Blazej Badora's Profile Picture">
                </div>
                <div class="about-text">
                    <h2>Blazej Badora</h2>
                    <p>Hi there! I'm Blazej Badora, a passionate software developer with expertise in various programming languages and technologies. I love creating innovative solutions and bringing ideas to life through coding.</p>
                    <p>I have experience in developing web applications, mobile apps, and working with databases. My goal is to continuously learn and grow as a developer while delivering high-quality software.</p>
                    <p>When I'm not coding, you can find me exploring new technologies, reading tech blogs, or contributing to open source projects. I believe in the power of collaboration and enjoy working with like-minded individuals to solve complex problems.</p>
                    <p>Feel free to explore my <a href="projects.html"> portfolio</a> to see some of my recent projects and achievements. If you have any questions or would like to collaborate, don't hesitate to reach out!</p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-content">
        <h3>Blazej Badora</h3>
        <p>Email: blazej.b2001@gmail.com</p>
        <p id="current-time"></p>
    </div>
</footer>
</body>
</html>