<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blazej Badora's Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <a href="index.html">
                <img src="/static/logo.jpg" alt="Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="social-links">
            <a href="https://github.com/NeoJoker26" target="_blank">
                <img src="/static/gh.webp" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/blazej-badora-6b155a194/" target="_blank">
                <img src="/static/linkedin.png" alt="LinkedIn">
            </a>
        </div>
    </nav>
</header>

<main>
    <section id="hero" class="hero-section">
        <div class="container">
            <h1>Welcome to My Portfolio</h1>
            <p>Explore my projects and achievements</p>
            <div class="github-box">
                <h2>Check out my GitHub</h2>
                <a href="https://github.com/NeoJoker26" target="_blank" class="btn">Visit GitHub</a>
            </div>
        </div>
    </section>

    <section id="projects" class="projects-section">
        <div class="container">
            <h1>Projects</h1>
            <div class="project-grid">
                <div class="project-card">
                    <h3>C Projects</h3>
                    <p>Here are my C projects.</p>
                    <a href="Cprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>C++ Projects</h3>
                    <p>Here are my C++ projects.</p>
                    <a href="Cppprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Unity Projects</h3>
                    <p>Here are my Unity projects.</p>
                    <a href="Unityprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Python Projects</h3>
                    <p>Here are my Python projects.</p>
                    <a href="Pythonprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Perl Projects</h3>
                    <p>Here are my Perl projects.</p>
                    <a href="Perlprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Postgres Projects</h3>
                    <p>Here are my Postgres projects.</p>
                    <a href="Postgresprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>SQLAlchemy Projects</h3>
                    <p>Here are my SQLAlchemy projects.</p>
                    <a href="SQLAlchemyprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Django Projects</h3>
                    <p>Here are my Django projects.</p>
                    <a href="Djangoprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Machine Learning Projects</h3>
                    <p>Here are my Machine Learning projects.</p>
                    <a href="MLprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Data Science Projects</h3>
                    <p>Here are my Data Science projects.</p>
                    <a href="DSprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>AI Projects</h3>
                    <p>Here are my AI projects.</p>
                    <a href="AIprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Database Projects</h3>
                    <p>Here are my Database projects.</p>
                    <a href="Databaseprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Java Projects</h3>
                    <p>Here are my Java projects.</p>
                    <a href="Javaprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Mobile Development Projects</h3>
                    <p>Here are my Mobile Development projects.</p>
                    <a href="Mobileprojects.html" class="btn">View Projects</a>
                </div>
                <div class="project-card">
                    <h3>Data Visualization Projects</h3>
                    <p>Here are my Data Visualization projects.</p>
                    <a href="DataVisprojects.html" class="btn">View Projects</a>
                </div>
            </div>
        </div>
    </section>
</main>


<footer>
    <div class="footer-content">
        <h3>Blazej Badora</h3>
        <p>Email: blazej.b2001@gmail.com</p>
        <p id="current-time"></p>
    </div>
</footer>
</body>
</html>